PB1224-5/CH16/463/xmldemo/xsd/string_demo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.mingrisoft.com" xmlns="http://www.mingrisoft.com"
	elementFormDefault="qualified">

	<xs:element name="book">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:token" />
				<xs:element name="publisher" type="xs:NCName" />
				<xs:element name="company" type="xs:QName" />
				<xs:element name="author" type="xs:Name" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
